.timerStyle{
  font-family: Montserrat, sans-serif;
  font-size: 77.77px;
  width: 26rem;
  margin-left: 3rem;
}
.timeText{
  font-size: 20px;
  gap:4rem;
  margin-top: -10px;
}
@media only screen and (max-width:748px){
  .timerStyle{
    width: 24rem;
    font-size: 60px;
    text-align: center;
    margin-left: 0;
  }
  .timeText{
    font-size: 15px;
    gap:2.9rem
  }
}